/*HKing 2016-03-10*/
:root{
	--bn: none ;
}
/*滚动条*/
::-webkit-scrollbar {width: 8px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #f4f4f4;margin: 0px;}
::-webkit-scrollbar-thumb{background: #cfcfcf;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #7e7e7e}
::-webkit-scrollbar-thumb:horizontal:hover{background: #7e7e7e}

/*搜索*/
#content_left > div[style^="display"],
#content_left > div[style^="display"] *,.result-op.xpath-log,
.rrecom-btn-parent{
	height: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	color: #ffffff !important;
}
/*图片*/
#ec_im_container,#con-ar+div,
#content_right td > div:nth-child(1),
.fcImgli,#content_right,#appLauncher,
.hideTags_search #topInfoBar,#pullRS,
.global-logged #back-to-top,.hd-paopao,.global-logged .footer
{
	display: none !important;
}

/*贴吧*/
.widget-ads , .widget-ads ~ div,
#thread_list > li:not([class^=" j_thread_list"]),
.aside > div > div > div[id$="ad"],
.p_postlist > div:not([class^="l_post"]),
.firework-wrap,.editor_wrap_bright  + #footer,
/*音乐*/
.ad-banner,.nav-banner.nav-ads,.search-result-container .mp3logo,
.music-foot,.userbar .bd-feedback,.userbar .bd-feedback + .line,
#adMainTopRight,.mobile-guide-pc .css-icon-pc,
/*视频*/
#search-union-ad,.text-advertise,
/*百科*/
.bottom-promotion,#side_box_unionAd,#side-share,.wgt-footer-main,
/*文库*/
#fengchaoad,.baichuan-slot,#docBubble,.mod.lastcell-dialog,
/*新闻*/
#ecomAdDiv_3,#ecomAdDiv_1,#gotoPage,#rs,
/*知道*/
#union-search_bottom,
#bottom_container,#container .hint_common_restop,
#wrapper_wrapper #foot,
.newsearch .aside.fixheight,
.newsearch #footer{
	display: none !important;
	height: 0px;
	overflow: hidden;
}
/*贴吧*/
#pb_adbanner{position: absolute;top: -999999px;}
#thread_list > li[class^="thread_top_list_folder"]{
	display: block !important;
	height: auto !important;
	overflow: auto !important;
}

/*音乐播放器*/
.main-wrapper > .mb-layout-bd.column4,.gold-vip-tip,
#userBar .feedback, #userBar .feedback + .separator,
.column1 .m-client-product,.mbox #toptip{
	display: var(--bn) !important;
}
#lrcCol{right:0px !important;}
.main-wrapper > .mb-layout-bd.column2{margin-right: -160px !important;}
.playlist-length-cloud{bottom: 0px !important;}
.leftbar-outer{bottom: 70px !important;}
