/*HKing 2016-03-10*/
/*搜索*/
#content_left > div[style^="display"],
#content_left > div[style^="display"] *{
	height: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	color: #ffffff !important;
}
#ec_im_container,#con-ar+div,
#content_right td > div:nth-child(1),
.fcImgli{
	display: none !important;
}

/*贴吧*/
.widget-ads , .widget-ads ~ div,
#thread_list > li:not([class^=" j_thread_list"]),
.aside > div > div > div[id$="ad"],
.p_postlist > div:not([class^="l_post"]),
/*音乐*/
.ad-banner,
/*视频*/
#search-union-ad,.text-advertise,
/*百科*/
.bottom-promotion,
/*文库*/
#fengchaoad,.baichuan-slot,
/*新闻*/
#ecomAdDiv_3,#ecomAdDiv_1,
/*知道*/
#union-search_bottom{
	display: none !important;
	height: 0px;
	overflow: hidden;
}
/*贴吧*/
#pb_adbanner{
	position: absolute;
	top: -999999px;
}
