/*HKing 2016-03-10*/
#content_left > div[style^="display"] *{
	display: none !important;
	color: #ffffff !important;
	height: 0px !important;
	overflow: hidden !important;
}
#content_left > div[style^="display"]{
	height: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
}
#ec_im_container,
#con-ar+div,
#content_right td > div:nth-child(1),
.fcImgli{
	display: none !important;
}

/*百度贴吧搜索列表页*/
.widget-ads , .widget-ads ~ div,
#thread_list > li:not([class^=" j_thread_list"]),
.aside > div > div > div[id$="ad"],
.p_postlist > div:not([class^="l_post"]),
/*百度音乐搜索列表页*/
.ad-banner,
/*百度视频搜索列表页*/
#search-union-ad,.text-advertise,
/*百度百科搜索列表页*/
.bottom-promotion,
/*百度文库搜索列表页*/
#fengchaoad,.baichuan-slot,
/*百度新闻搜索列表页*/
#ecomAdDiv_3,
/*百度知道搜索列表页*/
#union-search_bottom{
	display: none !important;
	height: 0px;
	overflow: hidden;
}

#pb_adbanner{
	position: absolute;
	top: -999999px;
}
