/*HKing 2016-03-10*/
:root{
	--bn: none ;
}
/*滚动条*/
::-webkit-scrollbar {width: 8px;height:6px;}
::-webkit-scrollbar-track-piece{background-color: #f4f4f4;margin: 0px;}
::-webkit-scrollbar-thumb{background: #cfcfcf;min-height: 150px;min-width: 150px;border-radius: 10px;}
::-webkit-scrollbar-thumb:vertical:hover{background: #7e7e7e}
::-webkit-scrollbar-thumb:horizontal:hover{background: #7e7e7e}

/*搜索*/
#content_left{ position: relative; }
#content_left > div[style^="display"]{
	position: absolute;
	top: -10000px;
}
.result-op.xpath-log,
.rrecom-btn-parent,
.to_tieba{
	height: 0px !important;
	overflow: hidden !important;
	padding: 0px !important;
	margin: 0px !important;
	color: #ffffff !important;
}
.result-op.c-container.xpath-log{height: auto !important;color: #000000 !important;}
/*图片*/
#ec_im_container,#con-ar+div,
#content_right td > div:nth-child(1),
.fcImgli,#content_right,#appLauncher,
.hideTags_search #topInfoBar,#pullRS,
.global-logged #back-to-top,.hd-paopao,.global-logged .footer,
#srcPic .text-link-ads.new-style,
#sider #adCard,
#sider #wmContainer
{
	display: none !important;
}

/*贴吧*/
.widget-ads , .widget-ads ~ div,
#thread_list > li:not([class^=" j_thread_list"]),
.aside > div > div > div[id$="ad"],
.p_postlist > div:not([class^="l_post"]),
.j_thread_list:not([data-field]),
#j_p_postlist > .l_post_bright:not([data-field]),
.firework-wrap,.editor_wrap_bright  + #footer,
#ec_zwd_ctner,.newsearch .list-footer,
#j_p_postlist .p_author .icon_relative:not(.j_user_card),
#j_p_postlist .p_author .p_author_name,
#j_p_postlist .d_post_content_main .p_content_nameplate,
/*音乐*/
.ad-banner,.nav-banner.nav-ads,.search-result-container .mp3logo,
.music-foot,.userbar .bd-feedback,.userbar .bd-feedback + .line,
#adMainTopRight,.mobile-guide-pc .css-icon-pc,.ad-imax,
/*视频*/
#search-union-ad,.text-advertise,#index_right_float,.baidu-adv-rightbottom-pop-container,
#main > .container > div[id^="video_adm_cont"],
.section .mod-full-good,
#main.video-search-result-wrap div[id^="video_adm_cont"],
.adv-background.animated.fadeIn,
.main-content #ad_search_video_column_middle,
.v2-sidebar-content #searchpage_loopVideo,
.main-content #unionAdvSearchBottomMain,
.side-content #unionAdvSearchBottomSide,
/*百科*/
.bottom-promotion,#side_box_unionAd,#side-share,.wgt-footer-main,
/*文库*/
#fengchaoad,.baichuan-slot,#docBubble,.mod.lastcell-dialog,.search-aside-adWrap,.search-aside-newadWrap,.mod.tousu,
#doc #wkad5,
/*新闻*/
#ecomAdDiv_3,#ecomAdDiv_1,#gotoPage,#rs,.wrapper_l #foot,
/*知道日报*/
.aside-wp .aside-union-ad,
/*白度经验*/
.aside-pro-container .aside-ads-container,.main-content-bottom .bottom-ads-container,
/*知道*/
#union-search_bottom,.layout-wrap .left-top-ads,.layout-wrap #union-qbbanner,
#bottom_container,#container .hint_common_restop,
#wrapper_wrapper #foot,#qb-side #union-asplu,#qb-side #union-qbrightdown,#qb-side #union-asplu + div:not([class^="cms-slide"]),
.newsearch .aside.fixheight,table#qbleftdown-container,
.newsearch #footer,.wgt-footer-new .footer-new,.bannerdown,
.zhidao-index #wgt-ads,#body.container section.qb-section + div,
.has-menu #body .widget-sma,
.has-menu #body .widget-sma + div + div,
/*移动版贴吧*/
#tlist .threads_list li:not([class="tl_shadow"]),.ue_revision .container.j_container > div[style^="background"],#j_light_see_index,
/*移动版文库*/
.ec_wenku_ads,
/*移动版小说*/
#bnr,._advert_show,
/*移动版图片搜索*/
#imglist .waterfall-list .waterfall-row:nth-child(1),
#imglist .waterfall-list .waterfall-row:nth-child(2),
/*拇指医生*/
#union-qbbanner,.union-sug-wrap + div.leftnest,
/*home*/
#ftCon{
	display: none !important;
	height: 0px;
	overflow: hidden;
}
/*贴吧*/
#pb_adbanner,
/*手机版*/
.ec_wise_ad{position: absolute;top: -999999px;}
#thread_list > li[class^="thread_top_list_folder"]{
	display: block !important;
	height: auto !important;
	overflow: auto !important;
}

/*音乐播放器*/
.main-wrapper > .mb-layout-bd.column4,.gold-vip-tip,
#userBar .feedback, #userBar .feedback + .separator,
#skin-shape + div,
.column1 .m-client-product,.mbox #toptip{
	display: var(--bn) !important;
}
#lrcCol{right:0px !important;-webkit-user-select:none;}
.main-wrapper > .mb-layout-bd.column2{margin-right: -160px !important;}
.playlist-length-cloud{bottom: 0px !important;}
.leftbar-outer{bottom: 70px !important;}
#pauseAd{position: relative;top: -99998px;}
#lrcCol .link-wrapper{display: none;}
/*歌词全屏模式下样式*/
:-webkit-full-screen{
	position: fixed;
	width: 100% !important;
	height: 100%;
	z-index: 998;
	top: 0;
	left: 0;
	background: #ffffff !important;
	text-align: center;
}
#lrcCol .lrc-wrapper{bottom: 0 !important;}
:-webkit-full-screen .ui-resizable{display: none;}
:-webkit-full-screen .album-wrapper{background: transparent !important; left: 50%;margin-left: -90px !important;}
:-webkit-full-screen .lrc-wrapper{font-size: 18px !important;background: transparent !important;}
:-webkit-full-screen > *{z-index: 98 !important;}
:-webkit-full-screen > .link-wrapper{
	display: block !important;
	width: 120% !important;
	height: 120% !important;
	z-index: 8 !important;
	top: -10%;
	left: -10%;
}
:-webkit-full-screen > .link-wrapper img{
	width: 200%;
	height: 200%;
	-webkit-filter: blur(50px);
	top: -50%;
	left: -50%;
}
:-webkit-full-screen li{
	color: #ffffff !important;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
	line-height: 40px !important;
	text-align: center !important;
}
:-webkit-full-screen li.ui-lrc-current{
	font-size: 20px !important;
	font-weight: bold !important;
	line-height: 60px !important;
	color: #00ff00 !important;
}

/*贴吧*/
.p_postlist > div#j_p_postlist{
	height: auto !important;
	display: block !important;
}

:-webkit-full-screen .lrc-wrapper::-webkit-scrollbar {width: 0px;height:0px;}
